@{
    ViewData["Title"] = "Home Page";
}
<h2>Score Card</h2>
<div ng-controller="ScoreCardController">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{errorMessage}}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control" id="playerName" placeholder="Player Name Here" ng-model="scoreCard.playerRows[0].playerName"/>
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 frame-header">{{$index + 1}}</div>
            </span>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 text-right frame-cell">
                    <input type="text" placeholder="-" class="singleFigureScore" ng-focus="selectTryScore($event)" ng-change="enterPlayerScore($index, 0, frame.tryScores[0])" ng-model="::frame.tryScores[0]"/>
                    <input type="text" placeholder="-" class="singleFigureScore" ng-focus="selectTryScore($event)" ng-change="enterPlayerScore($index, 1, frame.tryScores[1])" ng-model="::frame.tryScores[1]"/>                    
                    <input type="text" placeholder="-" class="singleFigureScore" ng-focus="selectTryScore($event)" ng-show="$last" ng-change="enterPlayerScore($index, 2, frame.tryScores[2])" ng-model="::frame.tryScores[2]"/>                    
                </div>
            </span>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 frame-score text-right">
                    {{frame.scoreValue}}
                </div>
            </span>
        </div>
    </div>
</div>