@{
    ViewData["Title"] = "Home Page";
}
<h2>Score Card</h2>
<div ng-controller="ScoreCardController">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control" id="playerName" placeholder="Player Name Here" ng-model="scoreCard.playerRows[0].playerName"/>
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 frame-header">{{$index + 1}}</div>
            </span>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 text-right frame-cell">
                    <input type="text" placeholder="-" class="singleFigureScore" ng-change="enterPlayerScore(0, 0, frame.tryScores[0])" ng-model="::frame.tryScores[0]"/>
                    <input type="text" placeholder="-" class="singleFigureScore" ng-change="enterPlayerScore(0, 1, frame.tryScores[1])" ng-model="::frame.tryScores[1]"/>                    
                    <input type="text" placeholder="-" class="singleFigureScore" ng-show="$last" ng-change="enterPlayerScore(0, 1, frame.tryScores[1])" ng-model="::frame.tryScores[3]"/>                    
                </div>
            </span>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <span ng-repeat="frame in scoreCard.playerRows[0].frames">
                <div class="col-md-1 frame-score text-right">
                    {{frame.scoreValue}}
                </div>
            </span>
        </div>
    </div>
</div>